$body-background: #21232E;
$body-color: white;
$header-color: white;
$underline-background: #FF4E33;
$button-background: #E3AC00;
$button-color: white;
$button-hover-color: #963150;
$card-background: #3B3F50;
$card-header-color: white;
$card-color: #C0C3CE;
$banner-header-color: white;
$banner-color: #C0C3CE;
$banner-gradient: linear-gradient(to right, $button-background,$button-hover-color);
$footer-background: #3B3F50;
$footer-color: #C0C3CE;
$background-img: url('../img/m-h-night.jpg');
