$body-background: white;
$body-color: black;
$header-color: #2c2f3c;
$underline-background: #14A0C7;
$button-background: #699900;
$button-color: white;
$button-hover-color: #2e5cd4;
$card-background: #21232E;
$card-header-color: white;
$card-color: #C0C3CE;
$banner-header-color: #2c2f3c;
$banner-color: #C0C3CE;
$banner-gradient: linear-gradient(to right, $button-background, $button-hover-color);
$footer-background: #21232e;
$footer-color: #C0C3CE;
$background-img: url('../img/m-h-day.jpg');
